.NavigationItems{
    margin: 0;
    padding:0px;
    list-style:none;
    display:flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
}
@media(min-width:500px){
    .NavigationItems{
        flex-flow: row;
    }
}